body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#weatherSearch {
    margin-bottom: 20px;
}

div {
    margin-top: 20px;
}

.weatherResults {
    border: 3px solid blue ;
}
